.title-word {
    animation: color-animation 4s linear infinite;
  }

  .title-word-1 {
    --color-1: #03018C;
    --color-2: #212AA5;
    --color-3: #4259C3;
  }

  .title-word-2 {
    --color-1: #212AA5;
    --color-2: #4259C3;
    --color-3: #03018C;
  }

  .title-word-3 {
    --color-1: #4259C3;
    --color-2: #03018C;
    --color-3: #212AA5;
  }

  .title-word-4 {
    --color-1: #03018C;
    --color-2: #212AA5;
    --color-3: #4259C3;
  }

  @keyframes color-animation {
    0% {
      color: var(--color-1)
    }

    32% {
      color: var(--color-1)
    }

    33% {
      color: var(--color-2)
    }

    65% {
      color: var(--color-2)
    }

    66% {
      color: var(--color-3)
    }

    99% {
      color: var(--color-3)
    }

    100% {
      color: var(--color-1)
    }
  }

  /* Here are just some visual styles. 🖌 */


  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 8.5vw;
    text-transform: uppercase;
    place-items: center;
    text-align: center;

  }